body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}



.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.site-header {
  position: relative;

  margin-bottom: 61px;

  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 50% 12%;
}

.site-navigation {
  font: inherit;
  font-weight: bold;
  line-height: 1.86;
  color: black;
}

.site-navigation-list {
  margin: 0;
  padding: 0;

  list-style: none;
}


.site-navigation-link {
  color: black;
}

.site-navigation-link:hover {
  color: #81b3d2;
}


.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a:not([href]) {
  color: #766357;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 508px;
}

.header-bottom img {
  margin: auto;
}

.banner {
  margin: 0 100px;
  margin-bottom: 28px;

  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  text-align: center;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.reasons-list-item {
  margin: 0;
  padding: 0;
}

.reason {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  padding: 28px 60px 37px;

  text-align: center;

  background-color: #eeeeee;
}

.reasons-list h3 {
  margin-bottom: 23px;

  font-size: 21px;
  line-height: 1;
}

.reasons-list p {
  margin-bottom: 22px;
}

.reason-1,
.reason-2 {
  position: relative;

  width: 100%;

  color: #ffffff;

  background-color: #81b3d2;
}

.reason-1::before,
.reason-2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;

  width: 800px;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}


.reason-1 {
  padding-right: 860px;
}

.reason-1::before {
  left: 400px;

  background-image: url("../img/reason_1.jpg");
  background-position-y: 53%;
}

.reason-2 {
  padding-right: 40px;
  padding-left: 840px;
}

.reason-2::before {
  right: 400px;

  background-image: url("../img/reason_2.jpg");
  background-position-y: 53%;
}


.option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.option-list-item {
  position: relative;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  width: 400px;
  padding: 140px 45px 60px 45px;

  text-align: center;

  background-color: #f2f2f2;
}


.option-list-item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;

  width: 75px;
  height: 72px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.housing::before {
  background-image: url("../img/icon-1.svg");
}

.food::before {
  background-image: url("../img/icon-3.svg");
}

.souvenirs::before {
  top: 50px;

  height: 90px;

  background-image: url("../img/icon-2.svg");
  background-size: 86%;
}

.reasons .reason-text {
  margin: 0 100px;
  margin-bottom: 51px;

  text-align: center;
}

.search-hotel {
  margin: 0;

  text-align: center;
}

.search-hotel h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search-hotel p {
  margin-bottom: 43px;

  line-height: 24px;
}

.modal-search {
  position: absolute;
  /*top: -86px;*/
  left: 50%;

  width: 568px;
  overflow: hidden;

  -webkit-transform: translateX(-50%);

  -ms-transform: translateX(-50%);

  transform: translateX(-50%);
}

.search-form {
  margin: 0;
  padding: 55px;

  -webkit-transition: -webkit-transform 2s;

  transition: -webkit-transform 2s;

  -o-transition: transform 2s;

  transition: transform 2s;

  transition: transform 2s, -webkit-transform 2s;
}

.search-form label {
  margin-right: auto;

  font: inherit;
  font-weight: bold;
}

.search-container {
  position: relative;
}

.button {
  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.button-search {
  display: block;
  width: 568px;
  height: 86px;
  margin: 0 auto;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  text-align: center;
  color: white;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  background-color: #ffffff;
}



.search-form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  padding: 0 10px;

  font: inherit;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover+.button-calendar,
.search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.search-form .form-date {
  position: relative;

  width: 307px;
}

.button-calendar {
  position: relative;
}

.button-calendar::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 9px;

  width: 21px;
  height: 22px;

  background: transparent url("../img/calendar-default.svg") 0 0 no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button-calendar:hover::before {
  background-image: url("../img/calendar-hover.svg");
}

.button-calendar:active::before {
  background-image: url("../img/calendar-active.svg");
  outline: none;
}




.search-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.search-form .guest {
  width: 50%;
}

.form-button {
  width: 38px;
  height: 38px;

  font: inherit;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.guest .form-button:hover {
  color: black;
}

.guest .form-button:active {
  color: #81b3d2;

  outline: none;
}

.guest input {
  width: 38px;
  padding: 5px;

  text-align: center;
}

.search-form .adults {
  width: 226px;
}

.search-form .children {
  width: 178px;
}

.button-find {
  width: 100%;
  margin-top: 25px;
  padding: 17px;

  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  font-family: inherit;
  color: white;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.site-footer span {
  margin-bottom: 11px;

  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
}

.footer-social {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0;
  margin-top: 2px;
  margin-left: 30px;
  padding: 0;

  list-style: none;
  font-size: 0;
  text-align: center;
}


.footer-social li {
  display: inline-block;
  margin: 3px;
}

.social-button {
  position: relative;

  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button::before {
  background: transparent url("../img/fb-icon.svg") 50% no-repeat;
}

.facebook::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 22px;

  -webkit-transform: translateX(-50%) translateY(-50%);

  -ms-transform: translateX(-50%) translateY(-50%);

  transform: translateX(-50%) translateY(-50%);
}

.youtube::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 16px;

  background-image: url("../img/youtube.svg");
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.twitter::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 17px;
  height: 15px;

  background-image: url("../img/twitter.svg");
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-copyright {
  margin-top: 5px;

  text-align: center;
}

.footer-copyright span {
  display: inline-block;
  margin-top: 10px;
  margin-right: -5px;

  font: inherit;
  line-height: 1.86;
  vertical-align: top;
}

.footer-copyright .button {
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-top: 2px;
  margin-left: 8px;

  vertical-align: top;

  background: url("../img/logo-name-default.svg") 50%/contain no-repeat;
}

.footer-copyright .button:hover {
  background-image: url("../img/logo-name-hover.svg");
}

.footer-copyright .button:active {
  background-image: url("../img/logo-name-active.svg");
}


.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 30px 74px 8px 74px;

  font: inherit;
  font-size: 16px;
  color: white;
  text-transform: uppercase;

  background-color: #7997b9;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 10% 51%;
  background-size: cover;

}

.filter legend {
  margin-bottom: 25px;

  font-weight: bold;
}

.filter-hotel-list {
  margin: 0;
  padding: 0;
}

.filter-hotel-item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font: inherit;
  font-size: 14px;

  list-style: none;
}

.filter-hotel-item label {
  position: relative;

  margin-left: 41px;

  cursor: pointer;
}

.filter-hotel-item label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -41px;

  width: 23px;
  height: 23px;

  background: transparent url(../img/checkbox-off.svg) 50% no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.filter-hotel-item input:checked+label::before {
  width: 27px;

  background-image: url(../img/checkbox-on.svg);
}

.filter-hotel-item input:disabled~label {
  opacity: 0.5;
}

.filter-hotel-options {
  min-width: 200px;
  margin: 0;
  margin-right: 50px;
  padding: 0;

  border: 0;
}

.filter-range {
  width: 330px;
  margin: 0;
  margin-left: auto;

  font: inherit;
}

.filter-range-title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0 16px;

  font-weight: bold;
  line-height: 1.31;
}

.price-controls {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;

  height: 35px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 13px;
  padding: 0;

  font-size: 0;

  border: 2px solid white;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;

  width: 2px;
  height: 22px;

  background-color: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 1.5;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-top: 5px;
  padding-left: 63px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  margin-left: 20px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -8px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 15px;
}

.range-toggle-max {
  left: 81%;
}

.range-toggle:hover {
  width: 5px;
  height: 5px;
}

.btn-transparent {
  display: block;
  margin: 0 99px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background-color: #ffffff;
}

.hotels-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotels-sort h3 {
  margin: 0;
  padding: 30px 30px 30px 72px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  color: black;
}

.hotels-sort p {
  margin: 0;
  padding: 37px 27px 25px 17px;

  font: inherit;
  font-size: 12px;
  line-height: 1.5;
}

.sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font: inherit;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.sort-type-item {
  margin: 0;
  padding: 37px 20px 32px 13px;

  list-style: none;
}

.sort-type-item a {
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-item-active a {
  color: #81b3d2;
  border: none;
}

.sort-type-item a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-type-item a:active {
  color: black;
  border: 0;
}

.sort-type-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;

  padding: 36px 73px 36px 45px;
  list-style: none;

}

.sort-type-icon {
  position: relative;
  width: 11px;
  height: 11px;
  margin-left: 12px;
}

.sort-type-icon a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sort-type-icon svg {
  fill: #cacaca;
}

.sort-icon-active svg {
  fill: #81b3d2;
}

.sort-type-icon a:hover svg {
  fill: #000000;
}

.sort-type-icon a:active svg {
  fill: #81b3d2;
}


.hotels-item {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 73px;
  list-style: none;

  text-align: left;

  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotels-item:last-child {
  margin-bottom: 8px;
}

.hotels-link {
  color: black;
}

.hotels-link:hover {
  color: #81b3d2;
}

.hotels-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-item img {
  width: 135px;
  min-height: 90px;
}

.hotels-item-column h3 {
  width: 740px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  font-size: 21px;
  line-height: 1;
  font-family: inherit;

}

.hotels-item-column {
  font: inherit;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.hotel-cost {
  width: 734px;
}

.hotel-info {
  display: inline-block;
  vertical-align: top;
  min-width: 110px;
  margin-bottom: 5px;

  font: inherit;
}

.button-hotels {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 110px;
  padding: 5px 17px 5px;

  font: inherit;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: white;
}

.hotel-type {
  margin-right: 6px;
}

.button-hotels:hover {
  color: white;
}

.button-hotels:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-detail {
  margin-right: 6px;

  font: inherit;

  background-color: #81b3d2;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:active {
  background-color: #5496bd;
}

.button-book {
  font: inherit;

  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
}


/* сетка */
.site-header {
  /*для сетки*/
  min-height: 565px;
}

.site-header::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;

  height: 59px;

  background: transparent url("../img/polygon.svg") 50% no-repeat;
}

.header-logo {
  position: absolute;
  left: 50%;

  width: 140px;
  height: 70px;

  -webkit-transform: translateX(-50%);

  -ms-transform: translateX(-50%);

  transform: translateX(-50%);
}

.site-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  background-color: white;
}


.site-navigation-list li {
  width: 241px;
  padding: 15px 0;

  text-align: center;
}

.site-navigation-list li:last-child,
.site-navigation-list li:nth-child(4n-2) {
  margin-right: auto;
}

.site-navigation-list li:nth-child(4n) {
  margin-right: 0;
}



.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 23px 101px 36px 132px;
}






/* сетка страницы отелей */


.hotels-list {
  margin: 0;
  padding: 0;
}



.hotel-image {
  margin-right: 30px;
}


.hotels-item-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 890px;
  margin: 0;
}

.rating {
  display: inline-block;
  width: 110px;
  height: 17px;
  margin-left: auto;
  vertical-align: top;
}

.rating-4 {
  background: transparent url("../img/star_4.svg") 100% no-repeat;
}

.rating-3 {
  background: transparent url("../img/star_3.svg") 100% no-repeat;
}

.rating-2 {
  background: transparent url("../img/star_2.svg") 100% no-repeat;
}


.rating-value {
  width: 100px;
  margin-left: auto;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  text-align: center;
  padding: 6px 5px 5px 7px;
}
